*{
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}
#image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
#navBar{
    position:absolute;
    width: 100vw;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.808);
}
ul li{
    font-family: 'Oswald', sans-serif;
    color: white;
    display: inline-block;
    font-size: 30px;
    padding-left: 85px;
    padding-right: 85px;
}
a{
    text-decoration: none;
}
#cartola{
    
    cursor: pointer;
    width: 8%;
    height: 22%;
    position: absolute;
    top: 12vw;
    left: 82vh;
}