*{
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}
img{
    
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
#navBar{
    position: absolute;
    height: 50px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.664);
}
ul li{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px; 
}
a { 
    text-decoration: none; 
}
